templates/ais_ksodd_index.html
<!--**********************************************************************************************************************--><!--*                                                  AIS KSODD MAPBOX                                                  *--><!--*                               All rights reserved © 2018 | MosgortransNIIproekt, SUE                               *--><!--**********************************************************************************************************************--><!DOCTYPE html><html><head><meta charset="utf-8"><link rel="shortcut icon" href="../templates/ais_ksodd-v0.0.1/img/favicon.png"><title>АИС КСОДД</title><!--including assets styles--><link rel="stylesheet" href="../templates/ais_ksodd-v0.0.1/assets/mapbox-gl-js/mapbox-gl.css"><!--including custom styles--><link rel="stylesheet" href="../templates/mtp-v0.0.1/mtp.css"><link rel="stylesheet" href="../templates/ais_ksodd-v0.0.1/css/style.css"><!--including assets scripts--><script src="../templates/ais_ksodd-v0.0.1/assets/mapbox-gl-js/mapbox-gl.js"></script><script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.0/mapbox-gl-language.js"></script><script src="../templates/ais_ksodd-v0.0.1/assets/localforage/dist/localforage.js"></script><script src="../templates/ais_ksodd-v0.0.1/assets/dom-to-image/dist/dom-to-image.min.js"></script><!--including custom scripts--><script src="../templates/ais_ksodd-v0.0.1/js/modules/authorization.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/ksodd.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/leaflet.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/leftPanel.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/overlaps.js"></script></head><body><div class="left_panel control_box noselected hidden hidden_all"><header id="menu"><!--img(src=mainPath+"img/load.gif" alt="Загрузка...")--><img src="../templates/ais_ksodd-v0.0.1/img/menu_l.svg" alt="Главное меню"><img src="../templates/ais_ksodd-v0.0.1/img/menu_d.svg" alt="Главное меню"><h2>АИС КСОДД</h2></header><div class="content"><div class="part"><input class="checkbox" id="divisions_all" type="checkbox"><label for="divisions_all">Округа</label><input class="checkbox" id="districts_all" type="checkbox"><label for="districts_all">Районы</label></div><div class="part scroll_bar accordion_box" id="control_units"></div></div></div><div class="search_box" id="search"><div class="search_string"><input id="search_string" type="text" oninput="search(this.value)" value=""><div class="close_btn search_close"></div></div><div class="search_result noselected"><div class="result_part"><div id="empty">Нет данных в АИС КСОДД</div><div class="scroll_bar" id="ksodd_result"></div></div><div class="result_part"><div id="ya_box"><img src="../templates/ais_ksodd-v0.0.1/img/yandex.svg"><div id="ya_btn"><div class="yellow">Найти</div><div class="white"></div></div></div><div class="scroll_bar" id="ya_result"></div></div></div></div><div class="user_panel aside_box noselected hidden hidden_part"><header id="user"><img src="../templates/ais_ksodd-v0.0.1/img/user_l.svg" alt="Изображение пользователя"><img src="../templates/ais_ksodd-v0.0.1/img/user_d.svg" alt="Изображение пользователя"><h2 id="user_login"></h2></header><div class="content"><div class="part"><div class="line disabled"><img src="../templates/ais_ksodd-v0.0.1/img/settings.svg"><span>Настройки</span></div><div class="line" id="leaflet_edition"><img src="../templates/ais_ksodd-v0.0.1/img/leaflet_logo.png"><span>Leaflet</span></div><div class="line" id="mapbox_edition"><img src="../templates/ais_ksodd-v0.0.1/img/mapbox_logo.svg"><span>Mapbox</span></div><div class="line" id="logout"><img src="../templates/ais_ksodd-v0.0.1/img/exit.svg"><span>Выйти</span></div></div></div></div><div class="group"><div class="aside_box noselected hidden hidden_all" id="link"><header><img src="../templates/ais_ksodd-v0.0.1/img/link_l.svg"><img src="../templates/ais_ksodd-v0.0.1/img/link_d.svg"></header><div class="content"><div class="part"><div class="line"><input id="link_path" type="text"><input class="button" id="copy_link" type="button" value="Копировать"></div></div></div></div><div class="aside_box noselected hidden hidden_all" id="analytics"><header><img src="../templates/ais_ksodd-v0.0.1/img/download_l.svg"><img src="../templates/ais_ksodd-v0.0.1/img/download_d.svg"></header><div class="content"><div class="part"><a class="line" href="https://niikeeper.com/nii_api/v0.5.9/get_analytics?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv"><img src="../templates/ais_ksodd-v0.0.1/img/extension_csv.svg">Аналитика Москвы&#160;<span class="light_txt">(csv)</span></a><div id="png"><div class="line"><img src="../templates/ais_ksodd-v0.0.1/img/extension_png.svg">Изображение экрана&#160;<span class="light_txt">(png)</span></div><a class="line" href="" download="ais_ksodd_screen.png"><img src="../templates/ais_ksodd-v0.0.1/img/extension_png.svg">Изображение экрана&#160;<span class="light_txt">(png)</span></a></div></div></div></div><div class="aside_box noselected hidden hidden_all" id="print"><header><img src="../templates/ais_ksodd-v0.0.1/img/print_l.svg"><img src="../templates/ais_ksodd-v0.0.1/img/print_d.svg"></header></div></div><div class="right_panel aside_box noselected hidden hidden_all"><header><img src="../templates/ais_ksodd-v0.0.1/img/layers_l.svg" alt="Дополнительное меню"><img src="../templates/ais_ksodd-v0.0.1/img/layers_d.svg" alt="Дополнительное меню"></header><div class="content"><div class="part"><div class="line"><input class="checkbox" id="signs" type="checkbox"><label for="signs">Дорожные знаки</label></div><div class="line"><input class="checkbox" id="linear_mark" type="checkbox"><label for="linear_mark">Линейная разметка</label></div><div class="line"><input class="checkbox" id="point_mark" type="checkbox"><label for="point_mark">Точечная разметка</label></div><div class="line"><input class="checkbox" id="zones_3_27" type="checkbox"><label for="zones_3_27">Зона 3.27&nbsp;<img src="../templates/ais_ksodd-v0.0.1/img/3.27.svg"></label></div><div class="line"><input class="checkbox" id="road_sides" type="checkbox"><label for="road_sides">Борты</label></div></div><div class="part"><div class="line"><input class="checkbox" id="segment_streets" type="checkbox"><label for="segment_streets">Пролёты</label></div><div class="line"><input class="checkbox" id="segment_intersections" type="checkbox"><label for="segment_intersections">Перектрёстки</label></div></div><div class="part"><div class="line"><input class="checkbox" id="parking" type="checkbox"><label for="parking">Парковки</label></div></div><div class="part"><div class="line"><input class="checkbox" id="overlaps" type="checkbox"><label for="overlaps">Перекрытия</label></div></div></div></div><div id="map"></div><script src="../templates/mtp-v0.0.1/mtp.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/index.js"></script></body></html>

templates/ais_ksodd_index.pug
//**********************************************************************************************************************
//*                                                  AIS KSODD MAPBOX                                                  *
//*                               All rights reserved © 2018 | MosgortransNIIproekt, SUE                               *
//**********************************************************************************************************************

- var mainPath = "../templates/ais_ksodd-v0.0.1/"
- var mtpPath = "../templates/mtp-v0.0.1/"
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href=mainPath+"img/favicon.png")
        title АИС КСОДД
        //including assets styles
        link(rel="stylesheet" href=mainPath+"assets/mapbox-gl-js/mapbox-gl.css")
        //including custom styles
        link(rel="stylesheet" href=mtpPath+"mtp.css")
        link(rel="stylesheet" href=mainPath+"css/style.css")
        //including assets scripts
        script(src=mainPath+"assets/mapbox-gl-js/mapbox-gl.js")
        script(src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.0/mapbox-gl-language.js")
        script(src=mainPath+"assets/localforage/dist/localforage.js")
        script(src=mainPath+"assets/dom-to-image/dist/dom-to-image.min.js")
        //including custom scripts
        script(src=mainPath+"js/modules/authorization.js")
        script(src=mainPath+"js/modules/ksodd.js")
        script(src=mainPath+"js/modules/leaflet.js")
        script(src=mainPath+"js/modules/leftPanel.js")
        script(src=mainPath+"js/modules/overlaps.js")
    body
        .left_panel.control_box.noselected.hidden.hidden_all
            header#menu
                //img(src=mainPath+"img/load.gif" alt="Загрузка...")
                img(src=mainPath+"img/menu_l.svg" alt="Главное меню")
                img(src=mainPath+"img/menu_d.svg" alt="Главное меню")
                h2 АИС КСОДД
            .content
                .part
                    input#divisions_all.checkbox(type="checkbox")
                    label(for="divisions_all") Округа
                    input#districts_all.checkbox(type="checkbox")
                    label(for="districts_all") Районы
                #control_units.part.scroll_bar.accordion_box
        #search.search_box
            .search_string
                input#search_string(type="text" oninput="search(this.value)" value="")
                .close_btn.search_close
            .search_result.noselected
                .result_part
                    #empty Нет данных в АИС КСОДД
                    #ksodd_result.scroll_bar
                .result_part
                    #ya_box
                        img(src=mainPath + "img/yandex.svg")
                        #ya_btn
                            .yellow Найти
                            .white
                    #ya_result.scroll_bar
        .user_panel.aside_box.noselected.hidden.hidden_part
            header#user
                img(src=mainPath+"img/user_l.svg" alt="Изображение пользователя")
                img(src=mainPath+"img/user_d.svg" alt="Изображение пользователя")
                h2#user_login
            .content
                .part
                    .line.disabled
                        img(src=mainPath + "img/settings.svg")
                        span Настройки
                    .line#leaflet_edition
                        img(src=mainPath + "img/leaflet_logo.png")
                        span Leaflet
                    .line#mapbox_edition
                        img(src=mainPath + "img/mapbox_logo.svg")
                        span Mapbox
                    .line#logout
                        img(src=mainPath + "img/exit.svg")
                        span Выйти

        .group
            #link.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/link_l.svg")
                    img(src=mainPath + "img/link_d.svg")
                .content
                    .part
                        .line
                            input#link_path(type="text")
                            input#copy_link.button(type="button" value="Копировать")
            #analytics.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/download_l.svg")
                    img(src=mainPath + "img/download_d.svg")
                .content
                    .part
                        a.line(href="https://niikeeper.com/nii_api/v0.5.9/get_analytics?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv")
                            img(src=mainPath + "img/extension_csv.svg")
                            | Аналитика Москвы&#160;
                            span.light_txt (csv)
                        #png
                            .line
                                img(src=mainPath + "img/extension_png.svg")
                                | Изображение экрана&#160;
                                span.light_txt (png)
                            a.line(href="" download="ais_ksodd_screen.png")
                                img(src=mainPath + "img/extension_png.svg")
                                | Изображение экрана&#160;
                                span.light_txt (png)
            #print.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/print_l.svg")
                    img(src=mainPath + "img/print_d.svg")
        .right_panel.aside_box.noselected.hidden.hidden_all
            header
                img(src=mainPath+"img/layers_l.svg" alt="Дополнительное меню")
                img(src=mainPath+"img/layers_d.svg" alt="Дополнительное меню")
            .content
                .part
                    .line
                        input#signs.checkbox(type="checkbox")
                        label(for="signs") Дорожные знаки
                    .line
                        input#linear_mark.checkbox(type="checkbox")
                        label(for="linear_mark") Линейная разметка
                    .line
                        input#point_mark.checkbox(type="checkbox")
                        label(for="point_mark") Точечная разметка
                    .line
                        input#zones_3_27.checkbox(type="checkbox")
                        label(for="zones_3_27") Зона 3.27&nbsp;
                            img(src=mainPath+"img/3.27.svg")
                    .line
                        input#road_sides.checkbox(type="checkbox")
                        label(for="road_sides") Борты
                .part
                    .line
                        input#segment_streets.checkbox(type="checkbox")
                        label(for="segment_streets") Пролёты
                    .line
                        input#segment_intersections.checkbox(type="checkbox")
                        label(for="segment_intersections") Перектрёстки
                .part
                    .line
                        input#parking.checkbox(type="checkbox")
                        label(for="parking") Парковки
                .part
                    .line
                        input#overlaps.checkbox(type="checkbox")
                        label(for="overlaps") Перекрытия
        #map
        script(src=mtpPath+"mtp.js")
        script(src=mainPath+"js/index.js")
