templates/ais_ksodd_auth.html
<!DOCTYPE html><html><head><meta charset="utf-8"><link rel="shortcut icon" href="../templates/ais_ksodd-v0.0.1/img/favicon.png"><title>АИС КСОДД</title><link rel="stylesheet" href="../templates/mtp-v0.0.1/mtp.css"><link rel="stylesheet" href="../templates/ais_ksodd-v0.0.1/css/style.css"><script src="../templates/ais_ksodd-v0.0.1/assets/localforage/dist/localforage.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/authorization.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/ksodd.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/leaflet.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/leftPanel.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/overlaps.js"></script></head><body><div class="auth_page"><div class="control_box"><header class="noselected"><h2>АИС КСОДД</h2></header><div class="content"><input id="login" type="text" placeholder="Логин" required oninput="inp(this)" autofocus><input id="pass" type="password" placeholder="Пароль" required oninput="inp(this)"><input class="button" id="submit" type="submit" value="Войти" disabled></div></div></div><script>let submit = document.getElementById("submit");
let login = document.getElementById("login");
let pass = document.getElementById("pass");
let sibling;
function inp(val) {
    (val.previousElementSibling ? sibling = val.previousElementSibling : sibling = val.nextElementSibling);
    (((val.value !== "") && (sibling.value !== "")) ? submit.disabled = false : submit.disabled = true);
}</script><script src="../templates/ais_ksodd-v0.0.1/js/index.js"></script></body></html>

templates/ais_ksodd_auth.pug
- var mainPath = "../templates/ais_ksodd-v0.0.1/"
- var mtpPath = "../templates/mtp-v0.0.1/"
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href=mainPath + "img/favicon.png")
        title АИС КСОДД
        link(rel="stylesheet" href=mtpPath + "mtp.css")
        link(rel="stylesheet" href=mainPath + "css/style.css")
        script(src=mainPath+"assets/localforage/dist/localforage.js")
        script(src=mainPath + "js/modules/authorization.js")
        script(src=mainPath + "js/modules/ksodd.js")
        script(src=mainPath + "js/modules/leaflet.js")
        script(src=mainPath + "js/modules/leftPanel.js")
        script(src=mainPath+"js/modules/overlaps.js")
    body
        .auth_page
            .control_box
                header.noselected
                    h2 АИС КСОДД
                .content
                    input#login(type="text" placeholder="Логин" required oninput="inp(this)" autofocus)
                    input#pass(type="password" placeholder="Пароль" required oninput="inp(this)")
                    input#submit.button(type="submit" value="Войти" disabled)
        script.
            let submit = document.getElementById("submit");
            let login = document.getElementById("login");
            let pass = document.getElementById("pass");
            let sibling;
            function inp(val) {
                (val.previousElementSibling ? sibling = val.previousElementSibling : sibling = val.nextElementSibling);
                (((val.value !== "") && (sibling.value !== "")) ? submit.disabled = false : submit.disabled = true);
            }
        script(src=mainPath+"js/index.js")
