templates/ais_ksodd_leaflet.pug
//**********************************************************************************************************************
//*                                                 AIS KSODD v5.4.4                                                   *
//*                               All rights reserved © 2018 | MosgortransNIIproekt, SUE                               *
//**********************************************************************************************************************

- var mainPath = "../templates/ais_ksodd-v0.0.1/"
- var mtpPath = "../templates/mtp-v0.0.1/"
- var leafletPath = "../templates/ais_ksodd_l-v5.4.4/"

doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href=mainPath + "img/favicon.png")
        title АИС КСОДД
        //including assets styles
        link(rel="stylesheet" href=leafletPath + "js/assets/leaflet1.3.1/leaflet.css")
        //including custom styles
        link(rel="stylesheet" href=mtpPath + "mtp.css")
        link(rel="stylesheet" href=mainPath + "css/style.css")
        link(rel="stylesheet" href=leafletPath + "css/style.css")
        //including assets scripts
        script(src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js")
        script(src=leafletPath + "js/assets/leaflet1.3.1/leaflet.js")
        script(src=leafletPath + "js/assets/leaflet.geometryutil.js")
        script(src=leafletPath + "js/assets/leaflet.rotatedMarker.js")
        script(src=leafletPath + "js/assets/leaflet.curve.js")
        script(src=leafletPath + "js/assets/leaflet.permalink.js")
        script(src=leafletPath + "js/assets/dom-to-image/dom-to-image.js")
        script(src=leafletPath + "js/assets/file-saver/filesaver.min.js")
        script(src=leafletPath + "js/assets/leaflet-easyprint/leaflet-easyprint.my.js")
        script(src=leafletPath + "js/assets/vectorGrid.js")
        ///////////////////////////////////////
        script(src=mainPath+"assets/localforage/dist/localforage.js")
        //including custom scripts
        script(src=leafletPath + "js/json/divisions.js")
        script(src=leafletPath + "js/json/districts.js")
        script(src=leafletPath + "js/json/roadSides.js")
        script(src=leafletPath + "js/modules/viktorFuncs.js")
        script(src=leafletPath + "js/modules/signsProperties.js")
        script(src=leafletPath + "js/modules/downloadSigns.js")
        script(src=leafletPath + "js/modules/downloadPointMark.js")
        script(src=leafletPath + "js/modules/downloadLinearMark.js")
        script(src=leafletPath + "js/modules/downloadMenu.js")
        script(src=leafletPath + "js/modules/downloadPolygons.js")
        script(src=leafletPath + "js/modules/parking.js")
        script(src=mainPath+"assets/dom-to-image/dist/dom-to-image.min.js")
        /////////////////////////////////////////////////////////////
        script(src=mainPath + "js/modules/authorization.js")
        script(src=mainPath + "js/modules/ksodd.js")
        script(src=mainPath + "js/modules/leaflet.js")
        script(src=mainPath + "js/modules/leftPanel.js")
        script(src=mainPath + "js/modules/overlaps.js")
        script(src=mainPath + "js/modules/renovations.js")
        script(src=mainPath + "js/modules/segments.js")
    body
        // TODO: .main используется в работе с #control_units!
        .left_panel.control_box.noselected.hidden.hidden_all.main
            header#menu
                //img(src=mainPath+"img/load.gif" alt="Загрузка...")
                img(src=mainPath + "img/menu_l.svg" alt="Главное меню")
                img(src=mainPath + "img/menu_d.svg" alt="Главное меню")
                h2 АИС КСОДД
            .content
                .part
                    input#divisions_all.checkbox(type="checkbox")
                    label(for="divisions_all") Округа
                    input#districts_all.checkbox(type="checkbox")
                    label(for="districts_all") Районы
                #control_units.part.scroll_bar.accordion_box

        // TODO: Адаптировать панель поиска, сделать универсальной!
        #search.search_box
            .search_string
                input#search_string(type="text" oninput="search(this.value)" value="")
                .close_btn.search_close
            .search_result.noselected
                .result_part
                    #empty Нет данных в АИС КСОДД
                    #ksodd_result.scroll_bar
                .result_part
                    #ya_box
                        img(src=mainPath + "img/yandex.svg")
                        #ya_btn
                            .yellow Найти
                            .white
                    #ya_result.scroll_bar

        .user_panel.aside_box.noselected.hidden.hidden_part
            header#user
                img(src=mainPath + "img/user_l.svg" alt="Изображение пользователя")
                img(src=mainPath + "img/user_d.svg" alt="Изображение пользователя")
                h2#user_login
            .content
                .part
                    .line.disabled
                        img(src=mainPath + "img/settings.svg")
                        span Настройки
                    .line#logout
                        img(src=mainPath + "img/exit.svg")
                        span Выйти
        .group
            #link.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/link_l.svg")
                    img(src=mainPath + "img/link_d.svg")
                .content
                    .part
                        .line
                            input#link_path(type="text")
                            input#copy_link.button(type="button" value="Копировать")
            #analytics.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/download_l.svg")
                    img(src=mainPath + "img/download_d.svg")
                .content
                    .part
                        a.line.download(href="https://niikeeper.com/nii_api/v0.5.9/get_analytics?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv")
                            img(src=mainPath + "img/extension_csv.svg")
                            | Аналитика Москвы&#160;
                            span.light_txt (csv)
                        a.line.download(href="https://niikeeper.com/nii_api/v0.5.9/get_csvdata?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv")
                            img(src=mainPath + "img/extension_csv.svg")
                            | Выгрузка для ОДТИ&#160;
                            span.light_txt (csv)
                        #png
                            .line.download
                                img(src=mainPath + "img/extension_png.svg")
                                | Изображение экрана&#160;
                                span.light_txt (png)
            #print.aside_box.noselected.hidden.hidden_all
                header
                    img(src=mainPath + "img/print_l.svg")
                    img(src=mainPath + "img/print_d.svg")
        .right_panel.aside_box.noselected.hidden.hidden_all
            header
                img(src=mainPath + "img/layers_l.svg" alt="Дополнительное меню")
                img(src=mainPath + "img/layers_d.svg" alt="Дополнительное меню")
            .content
                .part
                    input#signs.checkbox(type="checkbox")
                    label(for="signs") Дорожные знаки
                    input#linear_mark.checkbox(type="checkbox")
                    label(for="linear_mark") Линейная разметка
                    input#point_mark.checkbox(type="checkbox")
                    label(for="point_mark") Точечная разметка
                    input#zones_3_27.checkbox(type="checkbox")
                    label(for="zones_3_27") Зона 3.27&nbsp;
                        img(src=mainPath + "img/3.27.svg")
                    input#road_sides.checkbox(type="checkbox")
                    label(for="road_sides") Борты
                .part
                    input#segment_streets.checkbox(type="checkbox")
                    label(for="segment_streets") Пролёты
                    input#segment_intersections.checkbox(type="checkbox")
                    label(for="segment_intersections") Перекрёстки
                .part
                    input#parking.checkbox(type="checkbox")
                    label(for="parking") Парковки
                .part
                    input#renovations.checkbox(type="checkbox")
                    label(for="renovations") Реновации
                .part
                    input.checkbox#overlaps(type="checkbox")
                    label(for="overlaps") Перекрытия
                    .overlaps
                        .part
                            h3.noweighted Актуальность
                            input.checkbox#ol_current(type="checkbox")
                            label(for="ol_current") Текущие
                                span#ol_current_cnt(style="padding-left: 10px") 0
                            input.checkbox#ol_future(type="checkbox")
                            label(for="ol_future") Будущие
                                span#ol_future_cnt(style="padding-left: 10px") 0
                            input.checkbox#ol_past(type="checkbox")
                            label(for="ol_past") Прошедшие
                                span#ol_past_cnt(style="padding-left: 10px") 0
                        .part
                            h3.noweighted Начало/окончание
                            input.checkbox#start_today(type="checkbox" checked disabled)
                            label(for="start_today") Начало сегодня
                                span#start_today_cnt(style="padding-left: 10px") 0
                            input.checkbox#end_today(type="checkbox" checked disabled)
                            label(for="end_today") Окончание сегодня
                                span#end_today_cnt(style="padding-left: 10px") 0
                            input.checkbox#start_tomorrow(type="checkbox" checked disabled)
                            label(for="start_tomorrow") Начало завтра
                                span#start_tomorrow_cnt(style="padding-left: 10px") 0
                            input.checkbox#other(type="checkbox" checked)
                            label(for="other") Прочие
                                span#other_cnt(style="padding-left: 10px") 0
                        .part
                            h3.noweighted Принадлежность
                            input.checkbox.ol#overlaps1(type="checkbox" checked)
                            label(for="overlaps1") Публичные мероприятия
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps2(type="checkbox" checked)
                            label(for="overlaps2") Коммерческие организации
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps3(type="checkbox" checked)
                            label(for="overlaps3") Работы ЖКХиБ
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps4(type="checkbox" checked)
                            label(for="overlaps4") Работы Департамента строительства
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps5(type="checkbox" checked)
                            label(for="overlaps5") Моя улица
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps6(type="checkbox" checked)
                            label(for="overlaps6") Работы транспортного комплекса
                                span(style="padding-left: 10px") 0
                            input.checkbox.ol#overlaps7(type="checkbox" checked)
                            label(for="overlaps7") Несогласованные
                                span(style="padding-left: 10px") 0
                        .part
                            h3.noweighted Тип
                            input.checkbox#ol_full(type="checkbox" checked)
                            label(for="ol_full") Полное
                                span#ol_full_cnt(style="padding-left: 10px") 0
                            input.checkbox#ol_part(type="checkbox" checked)
                            label(for="ol_part") Частичное
                                span#ol_part_cnt(style="padding-left: 10px") 0

        #map
        script(src=mtpPath + "mtp.js")
        //script(src=mainPath+"js/index.js")
        script(src=leafletPath + "js/index.js")
        script(src=leafletPath + "js/modules/search.js")

templates/ais_ksodd_leaflet.html
<!--**********************************************************************************************************************--><!--*                                                 AIS KSODD v5.4.4                                                   *--><!--*                               All rights reserved © 2018 | MosgortransNIIproekt, SUE                               *--><!--**********************************************************************************************************************--><!DOCTYPE html><html><head><meta charset="utf-8"><link rel="shortcut icon" href="../templates/ais_ksodd-v0.0.1/img/favicon.png"><title>АИС КСОДД</title><!--including assets styles--><link rel="stylesheet" href="../templates/ais_ksodd_l-v5.4.4/js/assets/leaflet1.3.1/leaflet.css"><!--including custom styles--><link rel="stylesheet" href="../templates/mtp-v0.0.1/mtp.css"><link rel="stylesheet" href="../templates/ais_ksodd-v0.0.1/css/style.css"><link rel="stylesheet" href="../templates/ais_ksodd_l-v5.4.4/css/style.css"><!--including assets scripts--><script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/leaflet1.3.1/leaflet.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/leaflet.geometryutil.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/leaflet.rotatedMarker.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/leaflet.curve.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/leaflet.permalink.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/dom-to-image/dom-to-image.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/file-saver/filesaver.min.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/leaflet-easyprint/leaflet-easyprint.my.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/assets/vectorGrid.js"></script><!--/////////////////////////////////////--><script src="../templates/ais_ksodd-v0.0.1/assets/localforage/dist/localforage.js"></script><!--including custom scripts--><script src="../templates/ais_ksodd_l-v5.4.4/js/json/divisions.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/json/districts.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/json/roadSides.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/viktorFuncs.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/signsProperties.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/downloadSigns.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/downloadPointMark.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/downloadLinearMark.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/downloadMenu.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/downloadPolygons.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/parking.js"></script><script src="../templates/ais_ksodd-v0.0.1/assets/dom-to-image/dist/dom-to-image.min.js"></script><!--///////////////////////////////////////////////////////////--><script src="../templates/ais_ksodd-v0.0.1/js/modules/authorization.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/ksodd.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/leaflet.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/leftPanel.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/overlaps.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/renovations.js"></script><script src="../templates/ais_ksodd-v0.0.1/js/modules/segments.js"></script></head><body><!-- TODO: .main используется в работе с #control_units!--><div class="left_panel control_box noselected hidden hidden_all main"><header id="menu"><!--img(src=mainPath+"img/load.gif" alt="Загрузка...")--><img src="../templates/ais_ksodd-v0.0.1/img/menu_l.svg" alt="Главное меню"><img src="../templates/ais_ksodd-v0.0.1/img/menu_d.svg" alt="Главное меню"><h2>АИС КСОДД</h2></header><div class="content"><div class="part"><input class="checkbox" id="divisions_all" type="checkbox"><label for="divisions_all">Округа</label><input class="checkbox" id="districts_all" type="checkbox"><label for="districts_all">Районы</label></div><div class="part scroll_bar accordion_box" id="control_units"></div></div></div><!-- TODO: Адаптировать панель поиска, сделать универсальной!--><div class="search_box" id="search"><div class="search_string"><input id="search_string" type="text" oninput="search(this.value)" value=""><div class="close_btn search_close"></div></div><div class="search_result noselected"><div class="result_part"><div id="empty">Нет данных в АИС КСОДД</div><div class="scroll_bar" id="ksodd_result"></div></div><div class="result_part"><div id="ya_box"><img src="../templates/ais_ksodd-v0.0.1/img/yandex.svg"><div id="ya_btn"><div class="yellow">Найти</div><div class="white"></div></div></div><div class="scroll_bar" id="ya_result"></div></div></div></div><div class="user_panel aside_box noselected hidden hidden_part"><header id="user"><img src="../templates/ais_ksodd-v0.0.1/img/user_l.svg" alt="Изображение пользователя"><img src="../templates/ais_ksodd-v0.0.1/img/user_d.svg" alt="Изображение пользователя"><h2 id="user_login"></h2></header><div class="content"><div class="part"><div class="line disabled"><img src="../templates/ais_ksodd-v0.0.1/img/settings.svg"><span>Настройки</span></div><div class="line" id="logout"><img src="../templates/ais_ksodd-v0.0.1/img/exit.svg"><span>Выйти</span></div></div></div></div><div class="group"><div class="aside_box noselected hidden hidden_all" id="link"><header><img src="../templates/ais_ksodd-v0.0.1/img/link_l.svg"><img src="../templates/ais_ksodd-v0.0.1/img/link_d.svg"></header><div class="content"><div class="part"><div class="line"><input id="link_path" type="text"><input class="button" id="copy_link" type="button" value="Копировать"></div></div></div></div><div class="aside_box noselected hidden hidden_all" id="analytics"><header><img src="../templates/ais_ksodd-v0.0.1/img/download_l.svg"><img src="../templates/ais_ksodd-v0.0.1/img/download_d.svg"></header><div class="content"><div class="part"><a class="line download" href="https://niikeeper.com/nii_api/v0.5.9/get_analytics?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv"><img src="../templates/ais_ksodd-v0.0.1/img/extension_csv.svg">Аналитика Москвы&#160;<span class="light_txt">(csv)</span></a><a class="line download" href="https://niikeeper.com/nii_api/v0.5.9/get_csvdata?token=j6eZ5nKzSi9ftSRiYDBtoNy329wRgDvn" download="ais_ksodd_analytics.csv"><img src="../templates/ais_ksodd-v0.0.1/img/extension_csv.svg">Выгрузка для ОДТИ&#160;<span class="light_txt">(csv)</span></a><div id="png"><div class="line download"><img src="../templates/ais_ksodd-v0.0.1/img/extension_png.svg">Изображение экрана&#160;<span class="light_txt">(png)</span></div></div></div></div></div><div class="aside_box noselected hidden hidden_all" id="print"><header><img src="../templates/ais_ksodd-v0.0.1/img/print_l.svg"><img src="../templates/ais_ksodd-v0.0.1/img/print_d.svg"></header></div></div><div class="right_panel aside_box noselected hidden hidden_all"><header><img src="../templates/ais_ksodd-v0.0.1/img/layers_l.svg" alt="Дополнительное меню"><img src="../templates/ais_ksodd-v0.0.1/img/layers_d.svg" alt="Дополнительное меню"></header><div class="content"><div class="part"><input class="checkbox" id="signs" type="checkbox"><label for="signs">Дорожные знаки</label><input class="checkbox" id="linear_mark" type="checkbox"><label for="linear_mark">Линейная разметка</label><input class="checkbox" id="point_mark" type="checkbox"><label for="point_mark">Точечная разметка</label><input class="checkbox" id="zones_3_27" type="checkbox"><label for="zones_3_27">Зона 3.27&nbsp;<img src="../templates/ais_ksodd-v0.0.1/img/3.27.svg"></label><input class="checkbox" id="road_sides" type="checkbox"><label for="road_sides">Борты</label></div><div class="part"><input class="checkbox" id="segment_streets" type="checkbox"><label for="segment_streets">Пролёты</label><input class="checkbox" id="segment_intersections" type="checkbox"><label for="segment_intersections">Перекрёстки</label></div><div class="part"><input class="checkbox" id="parking" type="checkbox"><label for="parking">Парковки</label></div><div class="part"><input class="checkbox" id="renovations" type="checkbox"><label for="renovations">Реновации</label></div><div class="part"><input class="checkbox" id="overlaps" type="checkbox"><label for="overlaps">Перекрытия</label><div class="overlaps"><div class="part"><h3 class="noweighted">Актуальность</h3><input class="checkbox" id="ol_current" type="checkbox"><label for="ol_current">Текущие<span id="ol_current_cnt" style="padding-left: 10px">0</span></label><input class="checkbox" id="ol_future" type="checkbox"><label for="ol_future">Будущие<span id="ol_future_cnt" style="padding-left: 10px">0</span></label><input class="checkbox" id="ol_past" type="checkbox"><label for="ol_past">Прошедшие<span id="ol_past_cnt" style="padding-left: 10px">0</span></label></div><div class="part"><h3 class="noweighted">Начало/окончание</h3><input class="checkbox" id="start_today" type="checkbox" checked disabled><label for="start_today">Начало сегодня<span id="start_today_cnt" style="padding-left: 10px">0</span></label><input class="checkbox" id="end_today" type="checkbox" checked disabled><label for="end_today">Окончание сегодня<span id="end_today_cnt" style="padding-left: 10px">0</span></label><input class="checkbox" id="start_tomorrow" type="checkbox" checked disabled><label for="start_tomorrow">Начало завтра<span id="start_tomorrow_cnt" style="padding-left: 10px">0</span></label><input class="checkbox" id="other" type="checkbox" checked><label for="other">Прочие<span id="other_cnt" style="padding-left: 10px">0</span></label></div><div class="part"><h3 class="noweighted">Принадлежность</h3><input class="checkbox ol" id="overlaps1" type="checkbox" checked><label for="overlaps1">Публичные мероприятия<span style="padding-left: 10px">0</span></label><input class="checkbox ol" id="overlaps2" type="checkbox" checked><label for="overlaps2">Коммерческие организации<span style="padding-left: 10px">0</span></label><input class="checkbox ol" id="overlaps3" type="checkbox" checked><label for="overlaps3">Работы ЖКХиБ<span style="padding-left: 10px">0</span></label><input class="checkbox ol" id="overlaps4" type="checkbox" checked><label for="overlaps4">Работы Департамента строительства<span style="padding-left: 10px">0</span></label><input class="checkbox ol" id="overlaps5" type="checkbox" checked><label for="overlaps5">Моя улица<span style="padding-left: 10px">0</span></label><input class="checkbox ol" id="overlaps6" type="checkbox" checked><label for="overlaps6">Работы транспортного комплекса<span style="padding-left: 10px">0</span></label><input class="checkbox ol" id="overlaps7" type="checkbox" checked><label for="overlaps7">Несогласованные<span style="padding-left: 10px">0</span></label></div><div class="part"><h3 class="noweighted">Тип</h3><input class="checkbox" id="ol_full" type="checkbox" checked><label for="ol_full">Полное<span id="ol_full_cnt" style="padding-left: 10px">0</span></label><input class="checkbox" id="ol_part" type="checkbox" checked><label for="ol_part">Частичное<span id="ol_part_cnt" style="padding-left: 10px">0</span></label></div></div></div></div></div><div id="map"></div><script src="../templates/mtp-v0.0.1/mtp.js"></script><!--script(src=mainPath+"js/index.js")--><script src="../templates/ais_ksodd_l-v5.4.4/js/index.js"></script><script src="../templates/ais_ksodd_l-v5.4.4/js/modules/search.js"></script></body></html>
